{% extends "base.html" %}

{% block content %}
<main class="main main--about">
    <p>Hi, I'm Tim, an AI engineer with a Master's degree in Computer Science and Artificial Intelligence. Since finishing my studies, I've been working as a freelance machine learning engineer, taking on a variety of projects that challenge and excite me. My work involves developing AI algorithms and implementing scalable machine learning models across different industries. I love diving into complex problems and finding innovative solutions, always striving to push the boundaries of what's possible with technology.</p>
    <p>Although I've achieved a lot professionally, I know there's so much more to learn and explore. I'm passionate about the field of AI, and I look forward to discovering where my skills and interests will take me next. I believe that each project and experience is a step towards something greater, even if I can't see the full picture yet. I'm committed to growing both as a professional and as a person, embracing whatever challenges and opportunities come my way.</p>
    <p>As I continue this journey, I hope to make a meaningful impact through my work. My portfolio is a reflection of my dedication and the vision I have for the future of AI and machine learning. I aim to inspire others and contribute to advancements that enhance human capabilities and improve our world. Thank you for visiting my site, and I invite you to follow along as I navigate the exciting and ever-evolving landscape of artificial intelligence.</p>
</main>
{% endblock %}
